{% extends 'base.html' %}

{% block title %}Members{% endblock %}

{% block content %}
    <h2>Members</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Outstanding Debt</th>
            </tr>
        </thead>
        <tbody>
            {% for member in members %}
                <tr>
                    <td>{{ member.name }}</td>
                    <td>{{ member.outstanding_debt }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Add a button to open the Add Member modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addMemberModal">
        Add Member
    </button>

    <!-- Add Member Modal -->
    <div class="modal fade" id="addMemberModal" tabindex="-1" role="dialog" aria-labelledby="addMemberModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addMemberModalLabel">Add Member</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Your form content for adding a member -->
                    <form method="post" action="{{ url_for('members_page') }}">
                        <div class="form-group">
                            <label for="name">Name*</label>
                            <input type="text" class="form-control" id="name" name="name" required>
                        </div>
                        <div class="form-group">
                            <label for="Email">Email*</label>
                            <input type="text" class="form-control" id="Email" name="Email" required pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$">
                        </div>
                        <div class="form-group">
                            <label for="Phone_number">Phone Number*</label>
                            <input type="text" class="form-control" id="Phone_number" name="Phone_number" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Add Member</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
